// debug
// *{
//   outline:1px solid black;
// }

// 字型
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
  color: $talkColor1;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}
// 背景裝飾
// .bgBody{
//   background-image:
//         url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg'),
//         url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg');
//   background-position: right top, 1156px 1694px;
//   background-repeat: no-repeat, no-repeat;
//   @include mobile{
//     background-image: 
//     url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg'),
//     url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg');
//     background-position: 35% 6%, 110% 50%;
//     background-size: 334px,135px;
//   }
// }
.bgBall1{
  position: absolute;
  top: 589px;
  left: -220px;
  z-index: -999;
  @include mobile{
    width: 126px;
    height: 126px;
    top: 743px;
    left: -77px;
  }
}
.bgBall3{
  position: absolute;  
  top: 2640px;
  left: 50px;
  z-index: -999;
  @include mobile{
    width: 153px;
    height: 153px;
    top: 4827px;
    left: -76px;
  }
}
.upTop{
  position: absolute;
  top:674px;
  right:48px;
  z-index:999;
}
// 容器
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    @include mobile{
      max-width: 334px;
      padding-left: 0px;
      padding-right: 0px;
    }
}

.wrap{
  position: relative;
}

// header
.header{
  padding-bottom: 101px;  
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg"),url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
  background-repeat: no-repeat;
  background-position: -222px 589px,right top;
  @include mobile{
    padding-bottom: 98.5px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
    background-repeat: no-repeat;
    background-position: 40% 70%;
    background-size: 334px 245px;
  }
}
.navBar{
  padding: 24px 0px;
  @include mobile{
    padding: 16px 0px;
    border-bottom: 2px solid #FFD153;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 24px 0px;
  
}

.logo{
  width: 220px;
  height: 40px;
  @include mobile{
    width: 130px;
    height: 24px;
  }
}
.btn{
  width: 136px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $talkColor2;
  color:#FFFFFF;
  border-radius:27px;
  &:hover{
    background-color: #FFFFFF;
    color:$talkColor2;
  }
}
.btnRed{
  width: 128px;
  height: 40px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: $talkColor3;
  color:#FFFFFF;
  border-radius:22px;
  &:hover{
    background-color: #FFFFFF;
    color:$talkColor3;
  }
}

.banner{
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  @include mobile{
    flex-direction: column;
  }
}
.bannerPromote{
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mobile{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  h4{
    color:$talkColor2;
    font-size: 18px;
    font: normal normal bold 18px/26px Noto Sans TC;
    margin-bottom: 8px;
    @include mobile{
      margin-top: 32px;
      font-size: 16px;
      font: normal normal bold 16px/24px Noto Sans TC;
    }
  }
  h2{
    font-size: 48px;
    font: normal normal bold 48px/70px Noto Sans TC;
    margin-bottom: 16px;
    @include mobile{
      font-size: 32px;
      font: normal normal bold 32px/46px Noto Sans TC;
    }
  }
  h5{
    font-size: 20px;
    font: normal normal normal 20px/29px Noto Sans TC;
    @include mobile{
      font-size: 16px;
      font: normal normal normal 16px/24px Noto Sans TC;
    }
  }
}
.bannerPic{
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
  @include mobile{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
// main
.main{
  //ball-1接續
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg"),url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg"),url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg"),url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
  background-repeat: no-repeat;
  background-position: -222px -151px,right -740px,right -100px top 50%,left 50px bottom 13%;
  
  @include mobile{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg"),url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg"),url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
    background-size: 126px 126px,135px 135px,153px 153px;
    background-position:-77px 15px,right -47px top 48%,left -76px bottom 16%;
  }

  text-align: center;
  // margin-top: 101px;
  // @include mobile{
  //   margin-top: 92px;
  // }
}

// plat
.plat{
  h3{
    font-size: 32px;
    font: normal normal bold 32px/46px Noto Sans TC;
    margin-bottom: 48px;
    @include mobile{
      font-size: 28px;
      font: normal normal bold 28px/40px Noto Sans TC;
    }
  }
}
.platBody{
  display: flex;  
  margin-left: -8px;
  margin-right: -8px; 
  @include mobile{
    margin-left: -5px;
    margin-right: -5px;
    flex-direction: column;
  }
}
.platItem{
  width: 33.3333%;
  padding-left: 8px;
  padding-right: 8px;
  @include mobile{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 24px;
  }
  img{
    width: 90px;
    height: 90px;
    margin-bottom: 24px;
    @include mobile{
      width: 60px;
      height: 60px;
      margin-bottom: 16px;
    }
  }
  h5{
    font-size: 24px;
    font: normal normal bold 24px/35px Noto Sans TC;
    margin-bottom: 24px;
    @include mobile{
      font-size: 18px;
      font: normal normal bold 18px/26px Noto Sans TC;
    }
  }
  p{
    color:$talkColor4;
  }
}

// service
.service{
  margin-top: 100px;
  text-align: center;
  @include mobile{
    margin-top: 46px;
  }
  h3{
    font-size: 32px;
    font: normal normal bold 32px/46px Noto Sans TC;
    margin-bottom: 16px;
    @include mobile{
      font-size: 28px;
      font: normal normal bold 28px/40px Noto Sans TC;
    }
  }
  h5{
    font-size: 20px;
    font: normal normal normal 20px/29px Noto Sans TC;
    margin-bottom: 48px;
    @include mobile{
      font-size: 18px;
      font: normal normal normal 18px/26px Noto Sans TC;
      margin-bottom: 32px;
    }
  }
}
.sBody{
  display: flex;
  margin-right: -16px;
  @include mobile{
    margin-right: 0px;
    flex-direction: column;
    align-items: center;
  }
}
.sBodyItem{
  width: calc(100%/4 - 16px);
  margin-right: 16px;
  box-shadow: 0px 2px 10px #00000014; 
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  @include mobile{
    width: 78%;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  img{    
    border-radius:12px 12px 0px 0px;
    margin-bottom: 16px;
  }
  h4{
    color:$talkColor2;
    font-size: 16px;
    font: normal normal bold 16px/24px Noto Sans TC;
    margin-bottom: 16px;
  }
  p{
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    @include mobile{
      margin-bottom: 24px;
    }
  }
}

// features
.features{
  margin-top: 100px;
  display: flex;
  @include mobile{
    margin-top: 46px;
    flex-direction: column-reverse;
  }
}
.featureBody{
  width: 50%;
  display: flex;
  flex-wrap:wrap;
  @include mobile{
    width: 100%;
    justify-content: center;
  }
}
.featureItem1{
  margin-bottom: 28px;
  width: 43%;
  margin-right: 7%;
  padding: 32px 32px 48px 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  box-shadow: 0px 2px 10px #00000014;
  @include mobile{
    width: 69%;
    margin-right: 0px;
    padding: 32px 41px 48px 24px;
    text-align: left;
    margin-bottom: 24px;
  }
  img{
    width: 86px;
    height: 86px;
    margin-bottom: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
    // padding: 17px 15px 17px 19px;
  }
  .icon1{
    padding: 17px 15px 17px 19px;
    @include mobile{
      padding: 17px 10px 17px 24px;
    }
  }
  .icon2{
    padding: 17.41px 17.86px 17.41px 17.86px;   
  }
  h5{
    font-size: 18px;
    font: normal normal bold 18px/26px Noto Sans TC;
    margin-bottom: 16px;
  }
}
.featureItem2{
  // margin-bottom: 28px;
  width: 43%;
  margin-right: 7%;
  padding: 32px 32px 48px 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  box-shadow: 0px 2px 10px #00000014;
  @include mobile{
    width: 69%;
    margin-right: 0px;
    padding: 32px 41px 48px 24px;
    text-align: left;
    margin-bottom: 24px;
  }
  img{
    width: 86px;
    height: 86px;
    margin-bottom: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
    // padding: 17px 15px 17px 19px;
  }
  .icon3{
    padding: 22.49px 19.76px 22.49px 19.76px;
    @include mobile{
      padding: 22.49px 23.51px 22.49px 16px;
    }
  }
  .icon4{
    padding: 21.3px 22px;
  }
  h5{
    font-size: 18px;
    font: normal normal bold 18px/26px Noto Sans TC;
    margin-bottom: 16px;
  }
}
.featureCustom{
  width: 50%;
  // padding: 0 75px;
  padding: 0px 49px 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  @include mobile{
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 32px;
  }
  h2{
    font-size: 32px;
    font: normal normal bold 32px/46px Noto Sans TC;
    margin-bottom: 16px;
    @include mobile{
      font-size: 28px;
      font: normal normal bold 28px/40px Noto Sans TC;
    }
  }
  p{
    font-size: 18px;
    font: normal normal normal 18px/26px Noto Sans TC;
    margin-bottom: 24px;
    @include mobile{
      font-size: 16px;
      font: normal normal normal 16px/24px Noto Sans TC;
      margin-bottom: 16px;
    }
  }
  .featureBtn{
    @include mobile{
      margin: 0 auto;
    }
  }
}

// eval
.eval{
  margin-top: 100px;
  @include mobile{
    margin-top: 46px;
  }
  h3{
    font-size: 32px;
    font: normal normal bold 32px/46px Noto Sans TC;
    text-align: center;
    margin-bottom: 48px;
    @include mobile{
      font-size: 28px;
      font: normal normal bold 28px/40px Noto Sans TC;
      margin-bottom: 32px;
    }
  }
}
.evalDetail{
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  @include mobile{
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  li{
    width: 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include mobile{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    >img{
      position: absolute;
      left:40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 0px 2px 10px #00000014;
      @include mobile{
        left: 32px;
      }
    }
  }
}
.evalDetailCard{
  padding: 48px 32px 24px 32px;
  margin-top: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  @include mobile{
    padding: 48px 17px 16px 16px;
    margin-bottom: 24px;
  }
  p{
    text-align: left;
    margin-bottom: 28px;
    padding-bottom: 20px;
    border-bottom: 2px solid #E5E4E2;
    @include mobile{
      margin-bottom: 16px;
      padding-bottom: 16px;
    }
  }
  h4{
    // margin-top: 24px;
    font-size: 24px;
    font: normal normal bold 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    margin-bottom: 8px;
    text-align: left;
  }
}
.commentStar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 121px;
  img{
    transform:scale(0.84);
  }
}
.pagination{
  margin-top: 24px;
  display: flex;
  justify-content: center;
  @include mobile{
    margin-top: 0;
  }
  li{
    width: 10px;
    height: 10px;
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 50px;
    margin-right: 8px;
  }
  .pageYellow{
    width: 16px;
    height: 10px;
    background: #FFD153 0% 0% no-repeat padding-box;
    border-radius: 50px; 
  }
}

// footer
.footer{
    height: 503px;
    margin-top: 100px;
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    @include mobile{
      height: 461px;
      margin-top: 60px;
      background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg');
      padding-top: 293px;
    }
    h3{
      font-size: 32px;
      font: normal normal bold 32px/46px Noto Sans TC;
      margin-bottom: 48px;
      @include mobile{
        font-size: 24px;
        font: normal normal bold 24px/35px Noto Sans TC;
        margin-bottom: 24px;
      }
    }
}
.footerRight{
  text-align: center;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  font-size: 16px;
  font: normal normal normal 16px/24px Noto Sans TC;
  padding: 16px 0px;
}
